{{> head }}
{{> navbar}}


<div class="row">

    <div class="col-8">
        <h1>Imagen</h1>
        <p> xdLorem ipsum, dolor sit amet consectetur adipisicing elit. In expedita saepe nam doloremque alias quis facilis laboriosam, nulla odit ipsum? Sunt, quae nemo! Magnam, necessitatibus perferendis vero recusandae est veniam!</p>
    </div>


<div class="col-4">
    <img src="../public/assets/img/133-1330635_crash-bandicoot-png-crash-bandicoot-n-sane-trilogy.png" alt="img-thumbnail">
</div>

</div>








{{> footer}}